<ul class="image-side education">

  <!--International Burch University-->
  <li class="display-flex">
    <a href="https://www.ibu.edu.ba/" target="_blank">
      <div>
        <img class="logo" src="../assets/img/organization/ibu.jpg">
      </div>
    </a>
    <div class="container-div">
      <div>
        <h5 class="credential">Master of Science: Data Science</h5>
      </div>
      <p class="organization">International Burch University</p>
      <p class="date">2020 - Present</p>
    </div>
  </li>

  <!--Rochester Institute of Technology-->
  <li class="display-flex">
    <a href="https://www.edx.org/micromasters/ritx-cybersecurity" target="_blank">
      <div>
        <img class="logo" src="../assets/img/organization/rit-logo.jpg">
      </div>
    </a>
    <div class="container-div">
      <div>
        <h5 class="credential">MicroMasters Credential in Cybersecurity</h5>
      </div>
      <p class="organization">Rochester Institute of Technology</p>
      <p class="date">2017 - 2018</p>
    </div>
  </li>

  <!--American University in Bosnia and Herzegovina-->
  <li class="display-flex">
    <a href="https://aubih.edu/en/" target="_blank">
      <div>
        <img class="logo" src="../assets/img/organization/aubih-logo.png"></div>
    </a>
    <div class="container-div">
      <h5 class="credential">Bachelor/Engineer of Information Technologies</h5>
      <p class="organization">American University in Bosnia and Herzegovina</p>
      <p class="date">2014 - 2018</p>
    </div>
  </li>

  <!--High School of Mechanical Engineering Tuzla-->
  <li class="display-flex">
    <a href="http://msstuzla.com/" target="_blank">
      <div>
        <img class="logo" src="../assets/img/organization/masinska-skola-logo.jpg"></div>
    </a>
    <div class="container-div">
      <div>
        <h5 class="credential">Computer design Technician</h5>
      </div>
      <p class="organization">High School of Mechanical Engineering Tuzla</p>
      <p class="date">2010 - 2014</p>
    </div>
  </li>

</ul>
