body {
    /* background-image: url("../img/technology.jpeg");
    background-repeat: no-repeat; */
    /* opacity: 0.8; */
}

.portfolio-name {
    font-size: 60px;
}

.logos div img {
    width: auto;
    height: 30px;
}

.ttl-portfolio {
    padding-bottom: 50px;
}

.container-part {
    padding-bottom: 30px;
}

.title {
    padding-bottom: 10px;
}