/* body {
    background-image: url("../img/nature.jpg");
    background-repeat: no-repeat;
    opacity: 0.5;
} */

.portfolio-name {
    font-size: 60px;
}

.logos div img {
    width: auto;
    height: 30px;
}

.ttl-portfolio {
    padding-bottom: 50px;
}