<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Ajdin Salihović | Portfolio</title>

  <!--Bootstrap CSS-->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="text-center">
          <h1 class="portfolio-name">Ajdin Salihović</h1>
          <h3 class="ttl-portfolio">Software Developer, AI Enthusiast</h3>

          <div class="social-media">
            <!-- <p class="social-media-inline">Let's stay in touch</p> -->
            <div class="social-media-inline">
              <a href="https://github.com/AS4Viking" target="_blank"><img src="../assets/img/git-logo.png/" alt="git-logo"></a>
              <!-- <a href="https://twitter.com/AS4Viking" target="_blank"><img src="../assets/img/twitter-logo.png/" alt="twitter-logo"></a> -->
              <!-- <a href="https://www.facebook.com/AS4Viking" target="_blank"><img src="../assets/img/facebook-logo.png/" alt="facebook-logo"></a> -->
              <a href="https://www.instagram.com/as4viking" target="_blank"><img src="../assets/img/instagram2-logo.png/" alt="instagram-logo"></a>
              <a href="https://www.linkedin.com/in/ajdin-salihovic/" target="_blank"><img src="../assets/img/linkedin2-logo.png/" alt="linkedin-logo"></a>
            </div>
          </div>
        </div>
        <!-- <a class="waves-effect waves-light btn" onClick="expandAll();"><i class="material-icons left">fullscreen</i>Expand
          All</a>
        <a class="waves-effect waves-light btn" onClick="collapseAll();"><i class="material-icons left">fullscreen_exit</i>Collapse
          All</a> -->
        <app-body></app-body>
      </div>
    </div>
  </div>
</body>

</html>