<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Ajdin Salihović | Portfolio</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="text-center">
          <h1 class="portfolio-name">Ajdin Salihović</h1>
          <h3 class="ttl-portfolio">Data Engineer | Data Scientist</h3>
          <p class="personal-quote" id="personal_quote">“Believe you can and you’re halfway there.”</p>
          <p class="personal-quote">– Theodore Roosevelt</p>
          <div class="social-media">
            <div class="social-media-inline">
              <a href="https://github.com/AS4Viking" target="_blank"><img src="assets/img/social/git-logo.png" alt="git-logo"></a>
              <a href="https://www.instagram.com/as4viking" target="_blank"><img src="assets/img/social/instagram2-logo.png"
                  alt="instagram-logo"></a>
              <a href="https://www.linkedin.com/in/ajdin-salihovic/" target="_blank"><img src="assets/img/social/linkedin2-logo.png"
                  alt="linkedin-logo"></a>
              <!-- <a href="skype:ajdoos4?userinfo"><img src="../assets/img/social/skype-logo.png/" alt="skype-logo"></a> -->
            </div>
          </div>
        </div>
        <app-body></app-body>
      </div>
    </div>
  </div>
</body>

</html>
