<div class="footer">
  <h4 class="ttl-contact">
    Contact me!
  </h4>
  <div>
    <div>
      <div class="container">
        <form method="post" action="mailto:salihovic.ay@gmail.com">
          <input type="submit" value="salihovic.ay@gmail.com" />
        </form>
      </div>
      <a href="../assets/doc/CV-Ajdin-Salihovic-ENG.pdf" download>
        Download my CV <i class="material-icons">file_download</i>
      </a>
    </div>

    <div class="social-media bottom">
      <div class="social-media-inline">
        <a href="https://github.com/AS4Viking" target="_blank"><img src="../assets/img/git-logo.png/" alt="git-logo"></a>
        <a href="https://www.instagram.com/as4viking" target="_blank"><img src="../assets/img/instagram2-logo.png/" alt="instagram-logo"></a>
        <a href="https://www.linkedin.com/in/ajdin-salihovic/" target="_blank"><img src="../assets/img/linkedin2-logo.png/"
            alt="linkedin-logo"></a>
      </div>
    </div>
  </div>
</div>