<div class="footer">
  <!-- <button mz-button class="footer-button">
    Contact me!
  </button> -->
  <h4>
    Contact me!
  </h4>
  <div>
    <div>
        <div class="container">
            <form method="post" action="mailto:salihovic.ay@gmail.com" > 
              
              <input type="submit" value="salihovic.ay@gmail.com" /> 
              
            </form>
            
            <!-- <div class="g-recaptcha text-center-footer" data-sitekey="6LflS3UUAAAAAINX9lww-AN6a36_7_HHUGCqhba8"></div> -->
          </div>
    </div>

    <div class="social-media bottom">
      <div class="social-media-inline">
        <a href="https://github.com/AS4Viking" target="_blank"><img src="../assets/img/git-logo.png/" alt="git-logo"></a>
        <a href="https://www.instagram.com/as4viking" target="_blank"><img src="../assets/img/instagram2-logo.png/" alt="instagram-logo"></a>
        <a href="https://www.linkedin.com/in/ajdin-salihovic/" target="_blank"><img src="../assets/img/linkedin2-logo.png/"
            alt="linkedin-logo"></a>
      </div>
    </div>
  </div>
</div>