<div class="footer">
  <h4 class="ttl-contact">
    Contact me!
  </h4>
  <div>
    <div>
      <div class="container">
        <a class="email" href="mailto:salihovic.ay@gmail.com">salihovic.ay@gmail.com</a>
      </div>

      <a href="../assets/doc/Ajdin_Salihovic_CV.pdf" target="_blank">
        <button type="button" class="waves-effect waves-light btn button-cv">CV<i class="material-icons">file_download</i></button>
      </a>
    </div>

    <div class="social-media bottom">
      <div class="social-media-inline">
        <a href="https://github.com/AS4Viking" target="_blank"><img src="../assets/img/social/git-logo.png/" alt="git-logo"></a>
        <a href="https://www.instagram.com/as4viking" target="_blank"><img src="../assets/img/social/instagram2-logo.png/"
            alt="instagram-logo"></a>
        <a href="https://www.linkedin.com/in/ajdin-salihovic/" target="_blank"><img src="../assets/img/social/linkedin2-logo.png/"
            alt="linkedin-logo"></a>
        <a href="skype:ajdoos4?userinfo"><img src="../assets/img/social/skype-logo.png/" alt="skype-logo"></a>
      </div>
    </div>
  </div>
</div>
