<mz-collapsible>
  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header class="sub-title">
      Certification
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      <div class="container-div">
        <h5>Bachelor/Engineer of Information Technologies</h5>
        <p class="company">American University in Bosnia and Herzegovina</p>
        <p>2014 - 2018</p>
      </div>
      <div class="container-div">
        <h5>Computer design Technician</h5>
        <p class="company">High School of Mechanical Engineering Tuzla</p>
        <p>2010 - 2014</p>
      </div>
    </mz-collapsible-item-body>
  </mz-collapsible-item>
  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header class="sub-title">
      Honors & Awards
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      <div class="container-div">
        <h5>Bachelor/Engineer of Information Technologies</h5>
        <p class="company">American University in Bosnia and Herzegovina</p>
        <p>2014 - 2018</p>
      </div>
      <div class="container-div">
        <h5>Computer design Technician</h5>
        <p class="company">High School of Mechanical Engineering Tuzla</p>
        <p>2010 - 2014</p>
      </div>
    </mz-collapsible-item-body>
  </mz-collapsible-item>
  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header class="sub-title">
      Languages
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      <div class="container-div">
        <h5>Bosnian</h5>
        <p class="company">Native</p>
      </div>
      <div class="container-div">
        <h5>English</h5>
        <p class="company">Advanced</p>
      </div>
      <div class="container-div">
        <h5>Slovenian</h5>
        <p class="company">Beginner</p>
      </div>
    </mz-collapsible-item-body>
  </mz-collapsible-item>
  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header class="sub-title">
      Organizations
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      <div class="container-div">
        <h5>AUBiH Student Parliament</h5>
        <p class="company">Member of the Student Union from 2014</p>
          <ul>
            <li>- President of the S.U. - from October of 2016 till October 2017.</li>
            <li>- Vice president of the S.U. - October 2017 - Jun 2018.</li>
          </ul>
        <p>Oct 2014 – Jul 2018</p>
      </div>
      <div class="container-div">
        <h5>C:E:T Platform - Bosnia and Herzegovina</h5>
        <p class="company">Co-founder</p>
        <p>Mar 2017 – Aug 2017</p>
      </div>
      <div class="container-div">
          <h5>Youth Council of the city of Tuzla / Vijeće mladih grada Tuzla</h5>
          <p class="company">Delegate</p>
          <p>May 2017 – Aug 2017</p>
        </div>
    </mz-collapsible-item-body>
  </mz-collapsible-item>
  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header class="sub-title">
      Test Score
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      <div class="container-div">
        <h5>TOEFL - Test of English as a Foreign Language</h5>
        <p class="company">Score: 92</p>
      </div>
    </mz-collapsible-item-body>
  </mz-collapsible-item>
</mz-collapsible>