<mz-collapsible>
<mz-collapsible-item [active]="true">
  <mz-collapsible-item-header class="title">
    Test Score
  </mz-collapsible-item-header>
  <mz-collapsible-item-body>
    <div class="container-div">
      <h5>Bachelor/Engineer of Information Technologies</h5>
      <p class="company">American University in Bosnia and Herzegovina</p>
      <p>2014 - 2018</p>
    </div>
    <div class="container-div">
      <h5>Computer design Technician</h5>
      <p class="company">High School of Mechanical Engineering Tuzla</p>
      <p>2010 - 2014</p>
    </div>
  </mz-collapsible-item-body>
</mz-collapsible-item>
</mz-collapsible>