<mz-collapsible class="accomp-body">
  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header class="sub-title">
      <i class="material-icons">details</i>Certification
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      <div class="container-div">
        <h5 class="cert-name">Elements of AI</h5>
        <div class="image-side">
          <div class="display-flex">
            <img class="logo2 margin-right" src="../assets/img/company/uhelsinki2-logo.png">
            <img class="logo2" src="../assets/img/company/reaktor-logo.svg">
            <div>
              <p class="company display-inline padding-left">University of Helsinki and Reaktor</p>
            </div>
          </div>
        </div>
        <!-- <p class="company">University of Helsinki and Reaktor</p> -->
        <p class="date">2010 - 2014</p>
        <a href="https://certificates.mooc.fi/validate/1c7qykf8dqu" target="_blank">
          See certificate
        </a>
      </div>
      <div class="container-div">
        <h5 class="cert-name">Digital Skills: User Experience</h5>
        <div class="image-side">
          <div class="display-flex">
            <img class="logo2" src="../assets/img/company/futurelearn-logo.png">
            <div>
              <p class="company display-inline padding-left">FutureLearn</p>
            </div>
          </div>
        </div>
        <!-- <p class="company">FutureLearn</p> -->
        <p class="date">2010 - 2014</p>
        <a href="https://www.futurelearn.com/certificates/gwnqoib" target="_blank">
          See certificate
        </a>
      </div>
      <div class="container-div">
        <h5 class="cert-name">Digital Skills: Web Analytics</h5>
        <div class="image-side">
          <div class="display-flex">
            <img class="logo2" src="../assets/img/company/futurelearn-logo.png">
            <div>
              <p class="company display-inline padding-left">FutureLearn</p>
            </div>
          </div>
        </div>
        <p class="date">2010 - 2014</p>
        <a href="https://www.futurelearn.com/certificates/f4qmzsk" target="_blank">
          See certificate
        </a>
      </div>
      <div class="container-div">
        <h5 class="cert-name">Introduction to Cyber Security</h5>
        <div class="image-side">
          <div class="display-flex">
            <img class="logo2" src="../assets/img/company/futurelearn-logo.png">
            <div>
              <p class="company display-inline padding-left">FutureLearn</p>
            </div>
          </div>
        </div>
        <p class="date">2010 - 2014</p>
        <a href="https://www.futurelearn.com/certificates/g4g1u9y" target="_blank">
          See certificate
        </a>
      </div>
      <div class="container-div">
        <h5 class="cert-name">EF SET English Certificate 73/100 (C2 Proficient)</h5>
        <div class="image-side">
          <div class="display-flex">
            <img class="logo2" src="../assets/img/company/efset-logo.png">
            <div>
              <p class="company display-inline padding-left">EF Standard English Test (EF SET)</p>
            </div>
          </div>
        </div>
        <!-- <p class="company">EF Standard English Test (EF SET)</p> -->
        <p class="date">2014 - 2018</p>
        <a href="https://www.efset.org/cert/GNmeVL" target="_blank">
          See certificate
        </a>
      </div>
      <div class="container-div">
        <h5 class="cert-name">CYBER501x: Cybersecurity Fundamentals</h5>
        <div class="image-side">
          <div class="display-flex">
            <img class="logo2" src="../assets/img/company/rit-logo.jpg">
            <div>
              <p class="company display-inline padding-left">Rochester Institute of Technology</p>
            </div>
          </div>
        </div>
        <!-- <p class="company">Rochester Institute of Technology</p> -->
        <p class="date">2010 - 2014</p>
        <a href="https://courses.edx.org/certificates/f8f38ff220504bc59680064b883c389f" target="_blank">
          See certificate
        </a>
      </div>
      <div class="container-div">
        <h5 class="cert-name">CYBER502x: Computer Forensics</h5>
        <div class="image-side">
          <div class="display-flex">
            <img class="logo2" src="../assets/img/company/rit-logo.jpg">
            <div>
              <p class="company display-inline padding-left">Rochester Institute of Technology</p>
            </div>
          </div>
        </div>
        <!-- <p class="company">Rochester Institute of Technology</p> -->
        <p class="date">2010 - 2014</p>
        <a href="https://courses.edx.org/certificates/c9ee0a8263094c71a52a8ae6b338d121" target="_blank">
          See certificate
        </a>
      </div>
      <div class="container-div">
        <h5 class="cert-name">CYBER503x: Cybersecurity Risk Management</h5>
        <div class="image-side">
          <div class="display-flex">
            <img class="logo2" src="../assets/img/company/rit-logo.jpg">
            <div>
              <p class="company display-inline padding-left">Rochester Institute of Technology</p>
            </div>
          </div>
        </div>
        <!-- <p class="company">Rochester Institute of Technology</p> -->
        <p class="date">2010 - 2014</p>
        <a href="https://courses.edx.org/certificates/03c5b1a7259344a291e07bb5bb52ad5f" target="_blank">
          See certificate
        </a>
      </div>
    </mz-collapsible-item-body>
  </mz-collapsible-item>
  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header class="sub-title">
      <i class="material-icons">card_membership</i>Honors & Awards
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      <div class="container-div">
        <h5>Certificate of Appreciation - Public Speaking Club "The Thinkers"</h5>
        <p class="company">UG "Projekat ABC" Tuzla</p>
        <p>Awarded by the Certificate of Appreciation by the UG "Projekat ABC" Tuzla, for the proposed and accepted
          name "The Thinkers", in regards to the public speaking club, founded at the American University in Bosnia and
          Herzegovina.

          The Toastmasters club is a public speaking club that aims to teach every participant the art of speaking and
          presenting. The success of a club meeting depends on the program participants. In Toastmasters, you learn by
          participating.

          http://www.projektabc.org/saradnici.html</p>
      </div>
      <div class="container-div">
        <h5>Dean's List</h5>
        <p class="company">American University in Bosnia and Herzegovina</p>
        <p>Dean's list certificate awarded for the academic excellence during the Fall 2016 semester. Academic year
          2016 / 2017.

          5th Semester grade average: 3.60 GPA (9.4)</p>
      </div>
      <div class="container-div">
        <h5>Dean's List</h5>
        <p class="company">American University in Bosnia and Herzegovina</p>
        <p>Dean's list certificate awarded for the academic excellence during the Spring 2017 semester. Academic year
          2016 / 2017.

          6th Semester grade average: 3.49 GPA (9.0)</p>
      </div>
    </mz-collapsible-item-body>
  </mz-collapsible-item>


  <!-- Languages -->
  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header class="sub-title">
      <i class="material-icons">language</i>Languages
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      <div class="container-div">
        <img class="flags" src="assets/img/flags/ba.png">
        <h5 class="languages">Bosnian</h5>
        <p>Native</p>
        <div class="progress">
          <div class="determinate" style="width: 100%"></div>
        </div>
      </div>
      <div class="container-div">
        <img class="flags" src="assets/img/flags/us.png">
        <h5 class="languages">English</h5>
        <p>Fluent</p>
        <div class="progress">
          <div class="determinate" style="width: 95%"></div>
        </div>
      </div>
      <div class="container-div">
        <img class="flags" src="assets/img/flags/si.png">
        <h5 class="languages">Slovenian</h5>
        <p>Beginner</p>
        <div class="progress">
          <div class="determinate" style="width: 20%"></div>
        </div>
      </div>
    </mz-collapsible-item-body>
  </mz-collapsible-item>
  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header class="sub-title">
      <i class="material-icons">work</i>Organizations
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      <div class="container-div">
        <div>
          <h5 class="display-inline">AUBiH Student Parliament</h5><a href="https://aubih.edu/en/student-activities-student-government.html"
            target="_blank"><img class="link" src="../assets/img/other/link.png"></a>
        </div>
        <p class="organization">Member of the Student Union from 2014</p>
        <ul>
          <li>- President of the S.U. - from October of 2016 till October 2017.</li>
          <li>- Vice president of the S.U. - October 2017 - Jun 2018.</li>
        </ul>
        <p class="date">Oct 2014 – Jul 2018</p>
      </div>
      <div class="container-div">
        <div>
          <h5 class="display-inline">C:E:T Platform - Bosnia and Herzegovina</h5><a href="https://www.facebook.com/CETBiH/"
            target="_blank"><img class="link" src="../assets/img/other/link.png"></a>
        </div>
        <p class="company">Co-founder</p>
        <p class="date">Mar 2017 – Aug 2017</p>
      </div>
      <div class="container-div">
        <div>
          <h5 class="display-inline">Youth Council of the city of Tuzla</h5><a href="https://www.facebook.com/supervijece/"
            target="_blank"><img class="link" src="../assets/img/other/link.png"></a>
        </div>
        <p class="company">Delegate</p>
        <p class="date">May 2017 – Aug 2017</p>
      </div>
    </mz-collapsible-item-body>
  </mz-collapsible-item>
  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header class="sub-title">
      <i class="material-icons">assignment</i>Test Score
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      <div class="container-div">
        <h5>TOEFL - Test of English as a Foreign Language</h5>
        <p class="company">Score: 92</p>
      </div>
    </mz-collapsible-item-body>
  </mz-collapsible-item>
</mz-collapsible>
