<div class="container-part">

  <mz-collapsible [mode]="'expandable'">
    <mz-collapsible-item [active]="true">
      <mz-collapsible-item-header class="title">
        EDUCATION
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <div class="container-div">
          <h5>Bachelor/Engineer of Information Technologies</h5>
          <p class="company">American University in Bosnia and Herzegovina</p>
          <p>2014 - 2018</p>
        </div>
        <div class="container-div">
          <h5>Computer design Technician</h5>
          <p class="company">High School of Mechanical Engineering Tuzla</p>
          <p>2010 - 2014</p>
        </div>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
    <mz-collapsible-item [active]="true">
      <mz-collapsible-item-header class="title">
        WORK EXPERIENCE
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <div class="">
          <h5 class="title2">Cape Ann Enterprises</h5>
          <div class="container-div">
            <h6 class="company">Junior Software Developer</h6>
            <p>Jul 2018 - Present</p>
          </div>

          <div class="container-div">
            <h6 class="company">Software Developer Internship</h6>
            <p>Feb 2018 - Jun 2018</p>
          </div>
        </div>

        <div class="container-div">
          <h5>Software Engineer Internship</h5>
          <p class="company">Alfa24</p>
          <p>Oct 2017 - Feb 2018</p>
        </div>
        <div class="container-div">
          <h5>English Teacher</h5>
          <p class="company">Bibo Global Opportunity</p>
          <p>Sep 2017 - Sep 2018</p>
        </div>
        <div>
          <h5 class="title2">American University in Bosnia and Herzegovina</h5>
          <div class="container-div">
            <h6 class="company">Web Developer Internship</h6>
            <p>Feb 2017 - Jun 2017</p>
          </div>

          <div class="container-div">
            <h6 class="company">IT Technician Specialist Internship</h6>
            <p>Oct 2016 - Feb 2017</p>
          </div>
        </div>
        <div class="container-div">
          <h5>Web Developer Internship</h5>
          <p class="company">Leftor</p>
          <p>May 2016 - Sep 2016</p>
        </div>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
    <mz-collapsible-item [active]="true">
      <mz-collapsible-item-header class="title">
        VOLUNTEER EXPERIENCE
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <div class="container-part">
          <div class="container-div">
            <h5>Mentor</h5>
            <p class="company">Balkans, let's get up!</p>
            <p>Oct 2017 - Present</p>
          </div>
          <div class="container-div">
            <h5>Board Member</h5>
            <p class="company">Let's Do It Tuzla</p>
            <p>Sep 2017 - Sep 2018</p>
          </div>
          <div>
            <h5 class="title2">Student Parliament - AUBiH</h5>
            <div class="container-div">
              <h6 class="company">Vice President</h6>
              <p>Oct 2017 - Jul 2018</p>
            </div>

            <div class="container-div">
              <h6 class="company">President</h6>
              <p>Oct 2016 - Oct 2017</p>
            </div>
          </div>
        </div>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
    <mz-collapsible-item [active]="true">
      <mz-collapsible-item-header class="title">
        ACCOMPLISHMENTS
      </mz-collapsible-item-header>
      <mz-collapsible-item-body id="accomp">
        <app-accomplishments></app-accomplishments>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
  </mz-collapsible>
</div>