<div class="container-part full-body">

  <mz-collapsible [mode]="'expandable'">

    <!-- Work experience -->
    <mz-collapsible-item [active]="true">
      <mz-collapsible-item-header class="title">
        <i class="material-icons">business_center</i>WORK EXPERIENCE<i class="material-icons expand">expand_more</i>
      </mz-collapsible-item-header>
      <mz-collapsible-item-body class="accomp">

        <app-work-experience></app-work-experience>

      </mz-collapsible-item-body>
    </mz-collapsible-item>
    <!-- Work experience end -->

    <!-- Education -->
    <mz-collapsible-item [active]="true">
      <mz-collapsible-item-header class="title">
        <i class="material-icons">school</i>EDUCATION<i class="material-icons expand">expand_more</i>
      </mz-collapsible-item-header>
      <mz-collapsible-item-body class="accomp">

        <app-education></app-education>

      </mz-collapsible-item-body>
    </mz-collapsible-item>
    <!-- Education end -->

    <!-- Volunteer experience  -->
    <mz-collapsible-item [active]="true">
      <mz-collapsible-item-header class="title">
        <i class="material-icons">favorite</i>VOLUNTEER EXPERIENCE<i class="material-icons expand">expand_more</i>
      </mz-collapsible-item-header>
      <mz-collapsible-item-body class="accomp">

        <app-volunteer-experience></app-volunteer-experience>

      </mz-collapsible-item-body>
    </mz-collapsible-item>
    <!-- Volunteer experience end -->

    <!-- Accomplishments -->
    <mz-collapsible-item [active]="true">
      <mz-collapsible-item-header class="title">
        <i class="material-icons">star</i>ACCOMPLISHMENTS<i class="material-icons expand">expand_more</i>
      </mz-collapsible-item-header>
      <mz-collapsible-item-body class="accomp">

        <app-accomplishments></app-accomplishments>

      </mz-collapsible-item-body>
    </mz-collapsible-item>
    <!-- Accomplishments  end -->


  <!--
   <button class="header-modal" mz-button (click)="SheetModal.openModal()"><i class="material-icons">mode_comment</i>PERSONAL
     INFORMATION
   </button>

   <mz-modal #SheetModal [fixedFooter]="true">
     <mz-modal-header class="">
       <h4>Personal information</h4>
     </mz-modal-header>
     <mz-modal-content>

       <app-personal-information></app-personal-information>

     </mz-modal-content>-->

  <!-- <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Disagree</button>
    <button mz-button [flat]="true" mz-modal-close>Agree</button>
  </mz-modal-footer> -->
  <!-- </mz-modal>-->


   <mz-collapsible-item [active]="true">
     <mz-collapsible-item-header class="title">
       <i class="material-icons">next_week</i>FREELANCE WORK
     </mz-collapsible-item-header>
     <mz-collapsible-item-body class="accomp">
       <app-freelance></app-freelance>
     </mz-collapsible-item-body>
   </mz-collapsible-item>
   <!-- Accomplishments  end -->


  </mz-collapsible>

</div>
