<div class="container-part full-body">

  <mz-collapsible [mode]="'expandable'">
    <mz-collapsible-item [active]="true">
      <mz-collapsible-item-header class="title">
        <i class="material-icons">school</i>EDUCATION<i class="material-icons expand">expand_less</i>
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <ul class="image-side education">
          <li class="display-flex">
            <a href="https://www.edx.org/micromasters/ritx-cybersecurity" target="_blank">
              <div>
                <img class="logo" src="../assets/img/company/rit-logo.jpg">
              </div>
            </a>
            <div class="container-div">
              <div>
                <h5 class="credential">MicroMasters Credential in Cybersecurity</h5>
              </div>
              <p class="company">Rochester Institute of Technology</p>
              <p class="date">2017 - 2018</p>
            </div>
          </li>

          <li class="display-flex">
            <a href="https://aubih.edu/en/" target="_blank">
              <div>
                <img class="logo" src="../assets/img/company/aubih-logo.png"></div>
            </a>
            <div class="container-div">

              <h5 class="credential">Bachelor/Engineer of Information Technologies</h5>

              <p class="company">American University in Bosnia and Herzegovina</p>
              <p class="date">2014 - 2018</p>
            </div>
          </li>
          <li class="display-flex">
            <a href="http://www.msms-tuzla.edu.ba/" target="_blank">
              <div>
                <img class="logo" src="../assets/img/company/masinska-skola-logo.jpg"></div>
            </a>
            <div class="container-div">
              <div>
                <h5 class="credential">Computer design Technician</h5>
              </div>
              <p class=" company">High School of Mechanical Engineering Tuzla</p>
              <p class="date">2010 - 2014</p>
            </div>
          </li>
        </ul>

      </mz-collapsible-item-body>
    </mz-collapsible-item>
    <mz-collapsible-item [active]="true">
      <mz-collapsible-item-header class="title">
        <i class="material-icons">business_center</i>WORK EXPERIENCE<i class="material-icons expand">expand_less</i>
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <ul class="image-side">
          <li class="display-flex">
            <a href="http://capeannenterprises.com/" target="_blank">
              <div><img class="logo" src="../assets/img/company/cape-ann-logo.png"></div>
            </a>
            <div class="">
              <div>
                <h5 class="title2 credential">Cape Ann Enterprises</h5>
              </div>
              <div class="container-div">
                <h6 class="company">Junior Software Developer</h6>
                <p class="date">Jul 2018 - Present</p>
              </div>

              <div class="container-div">
                <h6 class="company">Software Developer Internship</h6>
                <p class="date">Feb 2018 - Jun 2018</p>
              </div>
            </div>
          </li>
          <li class="display-flex">
            <a href="http://alfa24.ba/" target="_blank">
              <div><img class="logo" src="../assets/img/company/alfa-24-logo.gif"></div>
            </a>
            <div class="container-div">
              <div>
                <h5 class="credential">Software Engineer Internship</h5>
              </div>
              <p class="company">Alfa24</p>
              <p class="date">Oct 2017 - Feb 2018</p>
            </div>
          </li>
          <li class="display-flex">
            <a href="https://bibo.com.ph/" target="_blank">
              <div><img class="logo" src="../assets/img/company/bibo-logo.png"></div>
            </a>
            <div class="container-div">
              <div>
                <h5 class="credential">English Teacher</h5>
              </div>
              <p class="company">Bibo Global Opportunity</p>
              <p class="date">Sep 2017 - Sep 2018</p>
            </div>
          </li>
          <li class="display-flex">
            <a href="https://aubih.edu/en/" target="_blank">
              <div><img class="logo" src="../assets/img/company/aubih-logo.png"></div>
            </a>
            <div>
              <div>
                <h5 class="title2 credential">American University in Bosnia and Herzegovina</h5>
              </div>
              <div class="container-div">
                <h6 class="company">Web Developer Internship</h6>
                <p class="date">Feb 2017 - Jun 2017</p>
              </div>

              <div class="container-div">
                <h6 class="company">IT Technician Specialist Internship</h6>
                <p class="date">Oct 2016 - Feb 2017</p>
              </div>
            </div>
          </li>
          <li class="display-flex">
            <a href="http://www.leftor.com/" target="_blank">
              <div><img class="logo" src="../assets/img/company/leftor-logo.png"></div>
            </a>
            <div class="container-div">
              <div>
                <h5 class="credential">Web Developer Internship</h5>
              </div>
              <p class="company">Leftor</p>
              <p class="date">May 2016 - Sep 2016</p>
            </div>
          </li>
        </ul>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
    <mz-collapsible-item [active]="true">
      <mz-collapsible-item-header class="title">
        <i class="material-icons">favorite</i>VOLUNTEER EXPERIENCE<i class="material-icons expand">expand_less</i>
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <ul class="image-side">
          <li class="display-flex">
            <a href="https://balkansletsgetup.org/" target="_blank">
              <div><img class="logo" src="../assets/img/company/blgu-logo.png"></div>
            </a>
            <div class="container-div">
              <div>
                <h5 class="credential">Mentor</h5>
              </div>
              <p class="company">Balkans, let's get up!</p>
              <p class="date">Oct 2017 - Present</p>
            </div>
          </li>
          <li class="display-flex">
            <a href="http://letsdoit.ba/" target="_blank">
              <div><img class="logo" src="../assets/img/company/letsdoit-logo.png"></div>
            </a>
            <div class="container-div">
              <div>
                <h5 class="credential">Board Member</h5>
              </div>
              <p class="company">Let's Do It Tuzla</p>
              <p class="date">Sep 2017 - Sep 2018</p>
            </div>
          </li>
          <li class="display-flex">
            <a href="https://aubih.edu/en/student-activities-student-government.html" target="_blank">
              <div><img class="logo" src="../assets/img/company/aubih-logo.png"></div>
            </a>
            <div>
              <div>
                <h5 class="title2 credential">Student Parliament - AUBiH</h5>
              </div>
              <div class="container-div">
                <h6 class="company">Vice President</h6>
                <p class="date">Oct 2017 - Jul 2018</p>
              </div>

              <div class="container-div">
                <h6 class="company">President</h6>
                <p class="date">Oct 2016 - Oct 2017</p>
              </div>
            </div>
          </li>
        </ul>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
    <mz-collapsible-item [active]="true">
      <mz-collapsible-item-header class="title">
        <i class="material-icons">star</i>ACCOMPLISHMENTS<i class="material-icons expand">expand_less</i>
      </mz-collapsible-item-header>
      <mz-collapsible-item-body id="accomp">

        <app-accomplishments></app-accomplishments>

      </mz-collapsible-item-body>
    </mz-collapsible-item>
    <mz-collapsible-item [active]="true">
      <mz-collapsible-item-header class="title">
        <i class="material-icons">local_library</i>PERSONAL INFORMATION<i class="material-icons expand">expand_less</i>
      </mz-collapsible-item-header>
      <mz-collapsible-item-body id="accomp">
        <ul class="image-side education">
          <li class="display-flex">
            <a href="https://www.facebook.com/tuzlasaltminers/" target="_blank">
              <div><img class="logo" src="../assets/img/company/saltminers-logo.png"></div>
            </a>
            <div class="container-div">
              <div>
                <h5 class="">Defensive tackle | Offensive guard</h5>
              </div>
              <p class="company">Tuzla Saltminers Football</p>
              <p class="date">2017 - Present</p>
              <h5>Story</h5>
              <video width="320" height="240" controls>
                <source src="../assets/vid/tackle.mp4/" type="video/mp4">
                <!-- <source src="movie.ogg" type="video/ogg"> -->
                Your browser does not support the video tag.
              </video>
            </div>
          </li>
        </ul>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
  </mz-collapsible>


</div>