<ul class="image-side work_experience">

  <!--Endava-->
  <li class="display-flex">
    <a href="https://www.endava.com/" target="_blank">
      <div><img class="logo" src="../assets/img/organization/endava.png"></div>
    </a>
    <div class="container-div">
      <div>
        <h5 class="credential">Data Engineer</h5>
      </div>
      <p class="organization">Endava · Full-time</p>
      <p class="date">Oct. 2022 - Present</p>
      <mz-collapsible [mode]="'expandable'"  class="description2">
        <mz-collapsible-item [active]="true">
          <mz-collapsible-item-header class="description">
            Description<i class="material-icons expand_description">expand_more</i>
          </mz-collapsible-item-header>
          <mz-collapsible-item-body>
            <ul>
              <li>Working with Snowflake for SQL code and Oracle database</li>
              <li>Working with Airflow DAGs and maintaining and upgrading them within SQL and Python code</li>
            </ul>
          </mz-collapsible-item-body>
        </mz-collapsible-item>
      </mz-collapsible>
    </div>
  </li>

  <!--Coding Giants Bosnia and Herzegovina-->
  <li class="display-flex">
    <a href="https://www.codinggiants.ba/" target="_blank">
      <div><img class="logo" src="../assets/img/organization/coding_giants.png"></div>
    </a>
    <div class="container-div">
      <div>
        <h5 class="credential">Programming Teacher</h5>
      </div>
      <p class="organization">Coding Giants Bosnia and Herzegovina · Contract</p>
      <p class="date">Feb. 2022 - Present</p>
      <mz-collapsible [mode]="'expandable'"  class="description2">
      <mz-collapsible-item [active]="true">
        <mz-collapsible-item-header class="description">
          Description<i class="material-icons expand_description">expand_more</i>
        </mz-collapsible-item-header>
        <mz-collapsible-item-body class="description_long">
          Teaching programming to children and teens by using Scratch, App Inventor, and C# as well as other educational gaming platforms. Using Google Meets for teaching and through scheduled classes.
        </mz-collapsible-item-body>
      </mz-collapsible-item>
      </mz-collapsible>
    </div>
  </li>

  <!--Virgin Pulse-->
  <li class="display-flex">
    <a href="https://www.virginpulse.com/" target="_blank">
      <div><img class="logo" src="../assets/img/organization/virgin_pulse.png"></div>
    </a>
    <div class="container-div">
      <div>
        <h5 class="credential">Data Engineer</h5>
      </div>
      <p class="organization">Virgin Pulse · Full-time</p>
      <p class="date">Oct. 2020 - Sep. 2022</p>
      <mz-collapsible [mode]="'expandable'"  class="description2">
        <mz-collapsible-item [active]="true">
          <mz-collapsible-item-header class="description">
            Description<i class="material-icons expand_description">expand_more</i>
          </mz-collapsible-item-header>
          <mz-collapsible-item-body>
            Working with SQL and Database Systems. Using Python to create clean, extensible code. Monitoring Airflow and creating new Shell scripts.
          </mz-collapsible-item-body>
        </mz-collapsible-item>
      </mz-collapsible>
    </div>
  </li>

  <!--Marvelsoft-->
  <li class="display-flex">
    <a href="https://marvelsoft.net/" target="_blank">
      <div><img class="logo" src="../assets/img/organization/marvelsoft.jpg"></div>
    </a>
    <div class="container-div">
      <div>
        <h5 class="credential">Technical Support Analyst</h5>
      </div>
      <p class="organization">Marvelsoft · Full-time</p>
      <p class="date">Nov. 2019 - Oct. 2020</p>
      <mz-collapsible [mode]="'expandable'"  class="description2">
        <mz-collapsible-item [active]="true">
          <mz-collapsible-item-header class="description">
            Description<i class="material-icons expand_description">expand_more</i>
          </mz-collapsible-item-header>
          <mz-collapsible-item-body>
            Troubleshooting, testing, and doing data analysis of the logs. Refactoring and writing the documentation with Sphinx, and keeping track of any updates using Jira. Configuring files for the client using GitLab.
          </mz-collapsible-item-body>
        </mz-collapsible-item>
      </mz-collapsible>
    </div>
  </li>

  <!--Cape Ann-->
  <li class="display-flex">
    <a href="http://capeannenterprises.com/" target="_blank">
      <div><img class="logo" src="../assets/img/organization/cape-ann-logo.png"></div>
    </a>
    <div class="">
      <div>
        <h5 class="title2 credential">Cape Ann Enterprises</h5>
      </div>
      <div class="container-div">
        <h6 class="organization">Junior Software Developer · Full-time</h6>
        <p class="date">Jul. 2018 - Oct. 2019</p>
        <mz-collapsible [mode]="'expandable'"  class="description2">
          <mz-collapsible-item [active]="true">
            <mz-collapsible-item-header class="description">
              Description<i class="material-icons expand_description">expand_more</i>
            </mz-collapsible-item-header>
            <mz-collapsible-item-body>
              Continuous creation of software solutions using Angular, Drupal, JavaScript, jQuery, and HTML/CSS and testing with Selenium. Documenting work and step-by-step process. Creating Mockups and drafts for the websites.
            </mz-collapsible-item-body>
          </mz-collapsible-item>
        </mz-collapsible>
      </div>

      <div class="container-div">
        <h6 class="organization">Software Developer Internship · Internship</h6>
        <p class="date">Feb. 2018 - Jun. 2018</p>
        <mz-collapsible [mode]="'expandable'"  class="description2">
          <mz-collapsible-item [active]="true">
            <mz-collapsible-item-header class="description">
              Description<i class="material-icons expand_description">expand_more</i>
            </mz-collapsible-item-header>
            <mz-collapsible-item-body>
              Working with a team of interns to create software solutions using Drupal as well as Angular. Learning new skills as part of preparing for future projects.
            </mz-collapsible-item-body>
          </mz-collapsible-item>
        </mz-collapsible>
      </div>
    </div>
  </li>

  <!--Alfa 24-->
  <li class="display-flex">
    <a href="http://alfa24.ba/" target="_blank">
      <div><img class="logo" src="../assets/img/organization/alfa-24-logo.gif"></div>
    </a>
    <div class="container-div">
      <div>
        <h5 class="credential">Software Engineer Internship</h5>
      </div>
      <p class="organization">Alfa24 · Internship</p>
      <p class="date">Oct. 2017 - Feb. 2018</p>
      <mz-collapsible [mode]="'expandable'"  class="description2">
        <mz-collapsible-item [active]="true">
          <mz-collapsible-item-header class="description">
            Description<i class="material-icons expand_description">expand_more</i>
          </mz-collapsible-item-header>
          <mz-collapsible-item-body>
            Worked on Vue JS and started developing projects with PostgreSQL for the creation of databases and understanding how data works. As part of this internship I continued into developing apps and still understanding how Vue JS works as well as continued learning SQL.
          </mz-collapsible-item-body>
        </mz-collapsible-item>
      </mz-collapsible>
    </div>
  </li>

  <!--Bibo Global Opportunity-->
  <li class="display-flex">
    <a href="https://engoo.com/" target="_blank">
      <div><img class="logo" src="../assets/img/organization/bibo-logo.png"></div>
    </a>
    <div class="container-div">
      <div>
        <h5 class="credential">English Teacher</h5>
      </div>
      <p class="organization">Bibo Global Opportunity · Freelance</p>
      <p class="date">Sep. 2017 - Oct. 2018</p>
      <mz-collapsible [mode]="'expandable'"  class="description2">
        <mz-collapsible-item [active]="true">
          <mz-collapsible-item-header class="description">
            Description<i class="material-icons expand_description">expand_more</i>
          </mz-collapsible-item-header>
          <mz-collapsible-item-body>
            Conducting classes via Skype for mainly Japanese students. Online English grammar and conversational lessons to Japanese students according to lesson material provided by the company. Punctuality and professionalism at all levels. Preparation of tutorial notes and lesson notes for the student after the class.
          </mz-collapsible-item-body>
        </mz-collapsible-item>
      </mz-collapsible>
    </div>
  </li>

  <!--AUBiH-->
  <li class="display-flex">
    <a href="https://aubih.edu/en/" target="_blank">
      <div><img class="logo" src="../assets/img/organization/aubih-logo.png"></div>
    </a>
    <div>
      <div>
        <h5 class="title2 credential">American University in Bosnia and Herzegovina</h5>
      </div>
      <div class="container-div">
        <h6 class="organization">Web Developer · Internship</h6>
        <p class="date">Feb. 2017 - Jun. 2017</p>
        <mz-collapsible [mode]="'expandable'"  class="description2">
          <mz-collapsible-item [active]="true">
            <mz-collapsible-item-header class="description">
              Description<i class="material-icons expand_description">expand_more</i>
            </mz-collapsible-item-header>
            <mz-collapsible-item-body>
              Worked with a university mentor and a professional developer working directly for the university. Working with my mentor, I managed to learn a lot about developing a full website using the Boostrap framework, as well as some great insights into building a dynamic and professional website.
            </mz-collapsible-item-body>
          </mz-collapsible-item>
        </mz-collapsible>
      </div>

      <div class="container-div">
        <h6 class="organization">IT Technical Specialist · Internship</h6>
        <p class="date">Oct. 2016 - Feb. 2017</p>
        <mz-collapsible [mode]="'expandable'"  class="description2">
          <mz-collapsible-item [active]="true">
            <mz-collapsible-item-header class="description">
              Description<i class="material-icons expand_description">expand_more</i>
            </mz-collapsible-item-header>
            <mz-collapsible-item-body>
              Helped university staff with any regular issues, with smart tables, cameras, or any computer-related issues. Made sure all software in the university was up to date, and tested all the said programs, as well as the hardware that had been upgraded or changed. Checking and updating laptops and archiving old machines as well as any hardware that was not in use anymore.
            </mz-collapsible-item-body>
          </mz-collapsible-item>
        </mz-collapsible>
      </div>
    </div>
  </li>

  <!--Leftor-->
  <li class="display-flex">
    <a href="http://www.leftor.com/" target="_blank">
      <div><img class="logo" src="../assets/img/organization/leftor-logo.png"></div>
    </a>
    <div class="container-div">
      <div>
        <h5 class="credential">Web Developer  · Internship</h5>
      </div>
      <p class="organization">Leftor</p>
      <p class="date">May 2016 - Sep. 2016</p>
      <mz-collapsible [mode]="'expandable'"  class="description2">
        <mz-collapsible-item [active]="true">
          <mz-collapsible-item-header class="description">
            Description<i class="material-icons expand_description">expand_more</i>
          </mz-collapsible-item-header>
          <mz-collapsible-item-body>
            Internship with "Leftor d.o.o." was given within a program of MojaPraksa organized by BIT Center Tuzla. It lasted for one month, but since my colleagues and I were fierce in learning new skills, after receiving a certificate of Completion from BIT Center Tuzla, we still continued with our internship which lasted for five months.

            During the internship, we worked on these skills: HTML5, CSS3, PHP, Yii framework.
          </mz-collapsible-item-body>
        </mz-collapsible-item>
      </mz-collapsible>
    </div>
  </li>
</ul>
