<ul class="image-side">

  <!--Coding Giants Bosnia and Herzegovina-->
  <li class="display-flex">
    <a href="https://www.codinggiants.ba/" target="_blank">
      <div><img class="logo" src="../assets/img/company/coding_giants.png"></div>
    </a>
    <div class="container-div">
      <div>
        <h5 class="credential">Programming Teacher</h5>
      </div>
      <p class="company">Coding Giants Bosnia and Herzegovina</p>
      <p class="date">Feb. 2022 - Present</p>
    </div>
  </li>

  <!--Virgin Pulse-->
  <li class="display-flex">
    <a href="https://www.virginpulse.com/" target="_blank">
      <div><img class="logo" src="../assets/img/company/virgin_pulse.png"></div>
    </a>
    <div class="container-div">
      <div>
        <h5 class="credential">Associate Data Engineer</h5>
      </div>
      <p class="company">Virgin Pulse</p>
      <p class="date">Oct. 2020 - Present</p>
    </div>
  </li>

  <!--Marvelsoft-->
  <li class="display-flex">
    <a href="https://marvelsoft.net/" target="_blank">
      <div><img class="logo" src="../assets/img/company/marvelsoft.jpg"></div>
    </a>
    <div class="container-div">
      <div>
        <h5 class="credential">Technical Support Analyst</h5>
      </div>
      <p class="company">Marvelsoft</p>
      <p class="date">Nov. 2019 - Oct. 2020</p>
    </div>
  </li>

  <!--Cape Ann-->
  <li class="display-flex">
    <a href="http://capeannenterprises.com/" target="_blank">
      <div><img class="logo" src="../assets/img/company/cape-ann-logo.png"></div>
    </a>
    <div class="">
      <div>
        <h5 class="title2 credential">Cape Ann Enterprises</h5>
      </div>
      <div class="container-div">
        <h6 class="company">Junior Software Developer</h6>
        <p class="date">Jul. 2018 - Oct. 2019</p>
      </div>

      <div class="container-div">
        <h6 class="company">Software Developer Internship</h6>
        <p class="date">Feb. 2018 - Jun. 2018</p>
      </div>
    </div>
  </li>

  <!--Alfa 24-->
  <li class="display-flex">
    <a href="http://alfa24.ba/" target="_blank">
      <div><img class="logo" src="../assets/img/company/alfa-24-logo.gif"></div>
    </a>
    <div class="container-div">
      <div>
        <h5 class="credential">Software Engineer Internship</h5>
      </div>
      <p class="company">Alfa24</p>
      <p class="date">Oct. 2017 - Feb. 2018</p>
    </div>
  </li>

  <!--Bibo Global Opportunity-->
  <li class="display-flex">
    <a href="https://bibo.com.ph/" target="_blank">
      <div><img class="logo" src="../assets/img/company/bibo-logo.png"></div>
    </a>
    <div class="container-div">
      <div>
        <h5 class="credential">English Teacher</h5>
      </div>
      <p class="company">Bibo Global Opportunity</p>
      <p class="date">Sep. 2017 - Oct. 2018</p>
    </div>
  </li>

  <!--AUBiH-->
  <li class="display-flex">
    <a href="https://aubih.edu/en/" target="_blank">
      <div><img class="logo" src="../assets/img/company/aubih-logo.png"></div>
    </a>
    <div>
      <div>
        <h5 class="title2 credential">American University in Bosnia and Herzegovina</h5>
      </div>
      <div class="container-div">
        <h6 class="company">Web Developer Internship</h6>
        <p class="date">Feb. 2017 - Jun. 2017</p>
      </div>

      <div class="container-div">
        <h6 class="company">IT Technician Specialist Internship</h6>
        <p class="date">Oct. 2016 - Feb. 2017</p>
      </div>
    </div>
  </li>

  <!--Leftor-->
  <li class="display-flex">
    <a href="http://www.leftor.com/" target="_blank">
      <div><img class="logo" src="../assets/img/company/leftor-logo.png"></div>
    </a>
    <div class="container-div">
      <div>
        <h5 class="credential">Web Developer Internship</h5>
      </div>
      <p class="company">Leftor</p>
      <p class="date">May 2016 - Sep. 2016</p>
    </div>
  </li>
</ul>
