<ul class="image-side education">
  <li class="display-flex">
    <a href="https://www.facebook.com/tuzlasaltminers/" target="_blank">
      <div><img class="logo" src="../assets/img/company/saltminers-logo.png"></div>
    </a>
    <div class="container-div">
      <div>
        <h5 class="">Defensive tackle | Offensive guard</h5>
      </div>
      <p class="company">Tuzla Saltminers Football</p>
      <p class="date">2017 - Present</p>
      <h5>Story</h5>
      <video width="320" height="240" controls>
        <source src="assets/vid/tackle.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </li>
</ul>
