/** Collapse **/
.collapsible-header {
    display: block !important;
    border: none !important;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    box-shadow: none !important;
    border: none !important;
}
.collapsible-body {
    border: none !important;
}
/** End Collapse **/

/** Header component **/
.portfolio-name {
    font-size: 60px;
}

.ttl-portfolio {
    padding-bottom: 20px;
}

.container-part {
    padding-bottom: 15px;
}

.title {
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
}

.company {
    margin-top: 5px;
    margin-bottom: 5px;
}

.container-div {
    padding-bottom: 10px;
}
.text-center {
    text-align: center;
}
.title2 {
    padding-bottom: 10px;
}
.social-media img {
    width: auto;
    height: 30px;
    margin: 10px;
}
.social-media {
    padding-bottom: 50px;
}
/** End Header component **/

/* Scrollbar / Scroller */
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* End Scrollbar / Scroller */