<mz-collapsible class="accomp-body">
  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header class="sub-title">
      <i class="material-icons">style</i>Logo Design
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      <div class="row">
        <p class="feelanceWork">Logo Design</p>
        <div class="logoDesign">
          <img data-enlargeable width="100" style="cursor: zoom-in; width:100%;" src="../assets/img/freelance-work/logo/bernie_tailored.png" alt="BernieTailored"/>
        </div>
        <div class="logoDesign">
          <img data-enlargeable width="100" style="cursor: zoom-in; width:100%;" src="../assets/img/freelance-work/logo/Viking_Sails_Logo.png" alt="VikingSails"/>
        </div>
        <div class="logoDesign">
          <img data-enlargeable width="100" style="cursor: zoom-in; width:100%;" src="../assets/img/freelance-work/logo/Enigma-White.png" alt="Enigma"/>
        </div>
        <div class="logoDesign">
          <img data-enlargeable width="100" style="cursor: zoom-in; width:100%;" src="../assets/img/freelance-work/logo/SaltCast.png" alt="Salt Cast"/>
        </div>
        <div class="logoDesign">
          <img data-enlargeable width="100" style="cursor: zoom-in; width:100%;" src="../assets/img/freelance-work/logo/CET-logo-BiH.png" alt="CET BiH"/>
        </div>
        <div class="logoDesign">
          <img data-enlargeable width="100" style="cursor: zoom-in; width:100%;" src="../assets/img/freelance-work/logo/HB_Logo.png" alt="HB Logo"/>
        </div>
      </div>
    </mz-collapsible-item-body>
  </mz-collapsible-item>


  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header class="sub-title">
      <i class="material-icons">panorama</i>Cover Design
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      <div class="row">
        <p class="feelanceWork">Cover Design</p>
        <div class="coverDesign">
          <img data-enlargeable width="100" style="cursor: zoom-in; width:100%;" src="../assets/img/freelance-work/cover/yuno-crafts-facebook.png" alt="Yuno Crafts Cover"/>
        </div>
        <div class="coverDesign">
          <img data-enlargeable width="100" style="cursor: zoom-in; width:100%;" src="../assets/img/freelance-work/cover/Viking_Sails_Cover.png" alt="Viking Sails Cover"/>
        </div>
      </div>
    </mz-collapsible-item-body>
  </mz-collapsible-item>


  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header class="sub-title">
      <i class="material-icons">collections</i>Posters and posts
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      <div class="row">
        <p class="feelanceWork">Posters and posts</p>
        <div class="posterDesign">
          <img data-enlargeable width="100" style="cursor: zoom-in; width:100%;" src="../assets/img/freelance-work/poster/salt-bowl-facebook-event-cover.png" alt="Salt Bowl cover"/>
        </div>
        <div class="posterDesign">
          <img data-enlargeable width="100" style="cursor: zoom-in; width:100%;" src="../assets/img/freelance-work/poster/Saltminers-cover-event-fb-tryouts.png" alt="Saltminers Cover Tryouts"/>
        </div>
        <div class="posterDesign">
          <img data-enlargeable width="100" style="cursor: zoom-in; width:100%;" src="../assets/img/freelance-work/poster/Poster-salt-bowl.png" alt="Poster Salt Bowl"/>
        </div>
        <div class="posterDesign">
          <img data-enlargeable width="100" style="cursor: zoom-in; width:100%;" src="../assets/img/freelance-work/poster/Saltminers-Final-Promocija.png" alt="Saltminers Promotion"/>
        </div>
      </div>
    </mz-collapsible-item-body>
  </mz-collapsible-item>

  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header class="sub-title">
      <i class="material-icons">class</i>Certificate Design
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      <div class="row">
        <p class="feelanceWork">Certificate Design</p>
        <div class="logoDesign">
          <img data-enlargeable width="100" style="cursor: zoom-in; width:100%;" src="../assets/img/freelance-work/certificate/AUBiH-Student-Union-Certificate.jpg" alt="AUBiH Student Union Certificate"/>
        </div>
        <div class="logoDesign">
          <img data-enlargeable width="100" style="cursor: zoom-in; width:100%;" src="../assets/img/freelance-work/certificate/BLGU-Politics-For-Youngsters-Certificate.png" alt="BLGU Politics For Youngsters-Certificate"/>
        </div>
      </div>
    </mz-collapsible-item-body>
  </mz-collapsible-item>

</mz-collapsible>
