<mz-collapsible class="accomp-body">
  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header class="sub-title">
      <i class="material-icons">style</i>Logo Design
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      <div class="row">
        <p class="freelanceWork">Logo Design</p>
        <div class="logoDesign">
          <img data-enlargeable width="100" style="cursor: zoom-in; width:100%;" src="../assets/img/freelance-work/logo/bernie_tailored.png" alt="BernieTailored"/>
        </div>
        <div class="logoDesign">
          <img data-enlargeable width="100" style="cursor: zoom-in; width:100%;" src="../assets/img/freelance-work/logo/Viking_Sails_Logo.png" alt="VikingSails"/>
        </div>
        <div class="logoDesign">
          <img data-enlargeable width="100" style="cursor: zoom-in; width:100%;" src="../assets/img/freelance-work/logo/Enigma-White.png" alt="Enigma"/>
        </div>
        <div class="logoDesign">
          <img data-enlargeable width="100" style="cursor: zoom-in; width:100%;" src="../assets/img/freelance-work/logo/SaltCast.png" alt="Salt Cast"/>
        </div>
        <div class="logoDesign">
          <img data-enlargeable width="100" style="cursor: zoom-in; width:100%;" src="../assets/img/freelance-work/logo/CET-logo-BiH.png" alt="CET BiH"/>
        </div>
        <div class="logoDesign">
          <img data-enlargeable width="100" style="cursor: zoom-in; width:100%;" src="../assets/img/freelance-work/logo/HB_Logo.png" alt="HB Logo"/>
        </div>
      </div>
    </mz-collapsible-item-body>
  </mz-collapsible-item>


  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header class="sub-title">
      <i class="material-icons">panorama</i>Cover Design
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      <div class="row">
        <p class="freelanceWork">Cover Design</p>
        <div class="coverDesign">
          <img data-enlargeable width="100" style="cursor: zoom-in; width:100%;" src="../assets/img/freelance-work/cover/yuno-crafts-facebook.png" alt="Yuno Crafts Cover"/>
        </div>
        <div class="coverDesign">
          <img data-enlargeable width="100" style="cursor: zoom-in; width:100%;" src="../assets/img/freelance-work/cover/Viking_Sails_Cover.png" alt="Viking Sails Cover"/>
        </div>
      </div>
    </mz-collapsible-item-body>
  </mz-collapsible-item>


  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header class="sub-title">
      <i class="material-icons">collections</i>Posters and posts
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      <div class="row">
        <p class="freelanceWork">Posters and posts</p>
        <div class="posterDesign">
          <img data-enlargeable width="100" style="cursor: zoom-in; width:100%;" src="http://drive.google.com/uc?export=view&id=1V4TpcS9RTDVjTkrJU8TlWMIhntr1EUFo" alt="Salt Bowl cover"/>
        </div>
        <div class="posterDesign">
          <img data-enlargeable width="100" style="cursor: zoom-in; width:100%;" src="http://drive.google.com/uc?export=view&id=1p201AQl84BemXbGaMlq-ypV5OCsX7t34" alt="Saltminers Cover Tryouts"/>
        </div>
        <div class="posterDesign">
          <img data-enlargeable width="100" style="cursor: zoom-in; width:100%;" src="http://drive.google.com/uc?export=view&id=1lUjlpI6nmnJJ_1pPRrAxRB0WhR3pvsgk" alt="Poster Salt Bowl"/>
        </div>
        <div class="posterDesign">
          <img data-enlargeable width="100" style="cursor: zoom-in; width:100%;" src="http://drive.google.com/uc?export=view&id=18wRGXYYgdShWDXgwI_RoU2lJSTRDXX0p" alt="Saltminers Promotion"/>
        </div>
      </div>
    </mz-collapsible-item-body>
  </mz-collapsible-item>

  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header class="sub-title">
      <i class="material-icons">class</i>Certificate Design
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      <div class="row">
        <p class="freelanceWork">Certificate Design</p>
        <div class="certificateDesign">
          <img data-enlargeable width="100" style="cursor: zoom-in; width:100%;" src="http://drive.google.com/uc?export=view&id=1hjz4gbVIMJqbGXpsuiMBoq3zMgV0cYbF" alt="BLGU Politics For Youngsters-Certificate"/>
        </div>
        <div class="certificateDesign">
          <img data-enlargeable width="100" style="cursor: zoom-in; width:100%;" src="http://drive.google.com/uc?export=view&id=1priWzHsx-rXb3fJmbvAm_4qavWGo-UiM" alt="BLGU Politics For Youngsters-Certificate"/>
        </div>
        <div class="certificateDesign">
          <img data-enlargeable width="100" style="cursor: zoom-in; width:100%;" src="http://drive.google.com/uc?export=view&id=1L4_tYp8x2LRVeHMFbaANx3ehOSLzvtzm" alt="AUBiH Student Union Certificate"/>
        </div>
        <div class="certificateDesign">
          <img data-enlargeable width="100" style="cursor: zoom-in; width:100%;" src="http://drive.google.com/uc?export=view&id=16efW4T5llXAXCvHBe2zeDkHXjprEi02k" alt="BLGU Politics For Youngsters-Certificate"/>
        </div>
      </div>
    </mz-collapsible-item-body>
  </mz-collapsible-item>

</mz-collapsible>
